<div class="container">
  <h1>ANGULAR + ASP.NET CORE</h1>
  <div class="cards-container">
    <div class="cards-form">
       <form (ngSubmit)="save()">
          <div class="form-group">
            <label for="">Card Name</label>
            <input type="text" name="Name" [(ngModel)]="card.name">
          </div>
          <div class="form-group">
            <label for="">Card Number</label>
            <input type="text" name="Number" [(ngModel)]="card.number">
          </div>
          <div class="form-group form-group-inline">
            <div>
              <label for="">Card CVC</label>
              <input type="text" name="CVC" [(ngModel)]="card.cvc">
            </div>
            <div>
              <label for="">Expire Month</label>
              <input type="text" name="ExpireMonth" [(ngModel)]="card.expireMonth">
            </div>
            <div>
              <label for="">Expire Year</label>
              <input type="text" name="ExpireYear" [(ngModel)]="card.expireYear">
            </div>
          </div>

            <div class="form-group">
              <button>Save</button>
            </div>
       </form>

    </div>

    <div class="cards-grid">
       <div class="card-row" (click)="populate(item)" *ngFor="let item of cards">
          <div class="card-row-details">
             <span>{{item.name}}</span>
             <span>{{item.number}}</span>
          </div>

        <div class="card-row-action">
          <a (click)="deleteCard(item.id)"><i class="fa-solid fa-trash-can"></i></a>
        </div>
        
       </div>
    </div>
  </div>
</div>
